{ip,"localhost"}.
{port,8008}.
{gps_info,{"lat","lon"}}.
{imei,"0000"}.
{cmd_from_app,2}.
{info,"hello"}.
{cmd_gps,2}.
{cmd_433,7}.

{imei1,"1111"}.
{imei2,"2222"}.
{imei3,"3333"}.

{cmd_wild,0}.
{cmd_fence_on,1}.
{cmd_fence_off,2}.
{cmd_fence_get,3}.
{cmd_seek_on,4}.
{cmd_seek_off,5}.
{cmd_location,6}.

{timeout,10000}.

{appid,"aaa"}.
{key,"aaa"}.
{token,"jfskljdfk"}.

{app_info,{2,"hi"}}.