[
    %% SASL config
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
        {error_logger_mf_maxfiles, 5}           % 5 files max
    ]},
    {smartBattery, [
        {web, [
            {ip, {0, 0, 0, 0}},
            {http_port, 8080},
            {ssl_port, 8443},
            {session_expire, 600},  %% seconds
            {cacertfile, "/ssl/server.crt"},
            {certfile, "/ssl/server.crt"},
            {keyfile, "/ssl/server.key"},
            {middlewares, [cowboy_session_middleware, cowboy_router, cowboy_handler]},
            {num_acceptors, 100},
            %-----------配置http请求路径-----------------
            {dispatch, [{'_', [
                %%----------------------需要自己写的处理器--------------------
                {"/", default_handler, []}
            ]}
            ]}
            %----------------------------
        ]},
        {global_config, [
            {authticate_server, "https://192.168.1.42:4443/authenticate"},
            %% for app connect
           %% {mqtt_server, [
           %%     [
                    {mqtt_host, "localhost"},
                    {mqtt_port, 1883},
                    {mqtt_username, "xb"},
                    {mqtt_password, "123456"}
            %%    ]
                %% add more mqtt server here
            %%]}
        ]}
    ]},
    {pooler, [
        {pools, [
            [
                {name, mqtt_1},
                {group, mqtt_group},
                {max_count, 5},
                {init_count, 0},
                {start_mfa, {emqttc, start_link,
                    [
                        [{host, localhost},
                            {port, 1883},
                            {clean_sess, false},
                            {reconnect, 3},
                            {logger, {console, info}}]
                    ]}}],
            [
                {name, mqtt_2},
                {group, mqtt_group},
                {max_count, 5},
                {init_count, 0},
                {start_mfa, {emqttc, start_link,
                    [
                        [{host, localhost},
                            {port, 1883},
                            {clean_sess, false},
                            {reconnect, 3},
                            {logger, {console, info}}]
                    ]}}]
        ]}
    ]}
].
