{deps, [
    {dsd_riak, ".*", {git, "https://192.168.1.200/barco/dsd_riak.git", "master"}},
    {lager, ".*", {git, "git://github.com/basho/lager", "HEAD"}},
    {gen_logger, ".*", {git, "git://github.com/emqtt/gen_logger.git", {branch, "master"}}},
    {emqttc, ".*", {git, "git://github.com/emqtt/emqttc.git", {branch, "master"}}},
    {cowboy, ".*", {git, "git://github.com/ninenines/cowboy", {tag, "2.0.0-pre.2"}}}

]}.
